@charset "utf-8";
//必须设置了这个才能编译有中文的注释
@import "variables";

.gallery {
  margin: 0px 0px;
}

.imageDiv {
  display: inline-block;
  background: #FFFFFF;
  position: relative;
  width: 180px;
  height: 100px;
  margin: 5px 5px 0 0;
  //padding: 0px 0px;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
}
// 图标列表的每个图标的显示样式
.custom-icon-item {
  color: $default;
  font-weight: 700;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.imageDiv2 {
  display: inline-block;
  background: #FFFFFF;
  position: relative;
  width: 200px;
  height: 50px;
  margin: 0px 0px 0 0;
  border: 1px solid #DDDDDD;
  //box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
}
// 图标列表的每个图标的显示样式
.custom-icon-item2 {
  color: $default;
  //font-weight: 700;
  font-size: 20px;
  //margin-top: 20px;
  //margin-bottom: 30px;
}