@charset "utf-8";
//必须设置了这个才能编译有中文的注释
@import "variables";

.z-menubar {
  border-top: 0px solid $border-color;
  border-bottom: 0px solid $border-color;
  @include border-radius(0px);
  background-color: transparent;

  & .z-menuitem {
    background-color: transparent !important;
  }

  & .z-menu-content, .z-menuitem-content {
    border: none;
    //background-color: transparent;
    @include border-radius(0px);
    //background-color: $background-color;
    &:hover {
      color: rgba(0, 0, 0, 0.57);
      background: darken($default, 3%) !important;
      @include transition(all 0.5s ease);
    }

    &:active {
      color: rgba(0, 0, 0, 0.57);
      background: darken($default, 5%) !important;
      @include transition(all 0.5s ease);
    }

    &:focus {
      color: rgba(0, 0, 0, 0.57);
      background: darken($default, 5%) !important;
      @include transition(all 0.5s ease);
    }

    &:visited {
      color: rgba(0, 0, 0, 0.57);
      background: $default !important;
      @include transition(all 0.5s ease);
    }
  }

  & .z-menu-text, .z-menuitem-text {
    text-shadow: none !important;
  }
}

.tabbox-menubar {
  min-height: 32px;
  height: 32px;
  margin: 0px 0px;
  padding: 4px 0px;
  background: transparent;

  & .z-menu {

  }

  & > ul {
    width: 35px;
  }


  & > .z-menu-hover {
    color: $font-reversed-color !important;
    background: darken($default, 3%) !important;
    @include transition(all 0.3s ease);
  }

  & > .z-menu-selected {
    color: $font-reversed-color;
    background: darken($default, 5%);
    @include transition(all 0.5s ease);
  }

  & .z-menu-content {
    padding-right: 10px;
    color: $default;

    & .z-menu-icon {
      top: 4px;
      right: 0px;
      color: $default !important;
    }

    &:hover {
      color: $font-reversed-color !important;
      background: darken($default, 3%) !important;
      @include transition(all 0.5s ease);

      & .z-menu-icon {
        @include transition(all 0.5s ease);
        color: $font-reversed-color !important;
      }
    }

    &:active {
      color: $font-reversed-color !important;
      background: darken($default, 5%) !important;
      @include transition(all 0.5s ease);

      & .z-menu-icon {
        @include transition(all 0.5s ease);
        color: $font-reversed-color !important;
      }
    }

    &:focus {
      color: $font-reversed-color !important;
      background: darken($default, 5%) !important;
      @include transition(all 0.5s ease);

      & .z-menu-icon {
        @include transition(all 0.5s ease);
        color: $font-reversed-color !important;
      }
    }

    &:visited {
      color: $font-reversed-color !important;
      background: $default !important;
      @include transition(all 0.5s ease);

      & .z-menu-icon {
        @include transition(all 0.5s ease);
        color: $font-reversed-color !important;
      }
    }
  }

  & .z-menu-selected {
    > .z-menu-content {
      color: $font-reversed-color !important;
      background: $navbar-background-color !important;

      & .z-menu-icon {
        color: $font-reversed-color !important;
      }
    }
  }
}

.toolbar-menubar {
  height: 24px;
  border: none;
  padding: 0;

  & > ul {
    @include border-radius(0px);
    border: none;
    //margin-block-start: 0em;
    //margin-block-end: 0em;
  }

  & .z-menu {
    @include border-radius(0px);
    margin: 0px;

    & .z-menu-content {
      height: 24px;
      width: 51px;
      min-width: 51px;
      padding-right: 0px;
      color: $font-reversed-color;
      background-color: $default;

      &:hover {
        color: $font-reversed-color;
        background-color: darken($default, 3%);
        @include transition(all 0.5s ease);
      }

      &:active {
        color: $font-reversed-color;
        background-color: darken($default, 5%);
        @include transition(all 0.5s ease);
      }

      &:focus {
        color: $font-reversed-color;
        background-color: darken($default, 5%);
        @include transition(all 0.5s ease);
      }

      &:visited {
        color: $font-reversed-color;
        background-color: $default;
        @include transition(all 0.5s ease);
      }

      & .z-menu-text {
        //font-weight: bold;
      }

      & .z-menu-icon {
        margin-right: 0px;
        color: $font-reversed-color !important;
      }
    }
  }

  & .z-menu-selected {
    > .z-menu-content {
      color: $font-reversed-color !important;
      background: $navbar-background-color !important;

      & .z-menu-icon {
        color: $font-reversed-color !important;
      }
    }
  }
}

.list-menubar {
  border: none;
  background: transparent;
  & .z-menu{
    width: 90%;
  }

  & .z-menu-content {
    padding-right: 10px;
    color: $default;

    & .z-menu-icon {
      top: 4px;
      right: 6px;
      color: $default !important;
    }

    &:hover {
      @include transition(all 0.5s ease);
      color: $font-reversed-color !important;
      background: darken($default, 3%) !important;


      & .z-menu-icon {
        @include transition(all 0.5s ease);
        color: $font-reversed-color !important;
      }
    }

    &:active {
      color: $font-reversed-color !important;
      background: darken($default, 5%) !important;
      @include transition(all 0.5s ease);

      & .z-menu-icon {
        @include transition(all 0.5s ease);
        color: $font-reversed-color !important;
      }
    }

    &:focus {
      color: $font-reversed-color !important;
      background: darken($default, 5%) !important;
      @include transition(all 0.5s ease);

      & .z-menu-icon {
        @include transition(all 0.5s ease);
        color: $font-reversed-color !important;
      }
    }

    &:visited {
      color: $font-reversed-color !important;
      background: $default !important;
      @include transition(all 0.5s ease);

      & .z-menu-icon {
        @include transition(all 0.5s ease);
        color: $font-reversed-color !important;
      }
    }
  }
}

.z-menupopup {
  @include border-radius(0px);
  border: 1px solid $default;
  @include transition(opacity 0.3s ease);

  & .z-menupopup-content {
    //-webkit-transition: all 0.3s ease;
    //-moz-transition: all 0.3s ease;
    //-o-transition: all 0.3s ease;
    //transition: all 0.3s ease;
    @include transition(opacity 0.3s ease);

    @include border-radius(0px);
    padding: 0px;
    margin: 0px;

    & .z-menuitem {
      @include border-radius(0px);

      & .z-menuitem-content {
        border-radius: 0px;

        & .z-menuitem-text {
          color: $font-color;
          text-shadow: none !important;
        }

        & [class^="z-icon"] {
          vertical-align: bottom;
          color: $font-color;
        }
      }

      &:hover {
        & .z-menuitem-content {
          background: $default;
          @include transition(all 0.3s ease);

          & .z-menuitem-text {
            color: $font-reversed-color;
            @include transition(all 0.3s ease);
          }

          & [class^="z-icon"] {
            vertical-align: bottom;
            color: $font-reversed-color;
            @include transition(all 0.3s ease);
          }
        }
      }
    }
  }
}