@charset "utf-8";
//必须设置了这个才能编译有中文的注释
@import "variables";

.c-tree {
  background-color: $background-color;
  border: none;

  .z-tree-header {
    .z-treecols {
      .z-treecol-content{
        background: $default;
        color: $font-reversed-color !important;
        padding: 0px 2px;
      }
    }

  }
  & .z-tree-body{
    overflow-y: scroll;
    overflow-x: hidden;
    & .z-treechildren{
      border: none;
      //border-left: none;
      //border-top: none;
      //border-bottom: none;
      //border-right: 1px solid $tab-background-color;
      //background-color: $background-color;


      & .z-treerow {
        background-color: whitesmoke;
        line-height: 24px !important;
        min-height: 24px !important;
        &:first-child {
          border-top: 1px solid #f5f5f5;
        }
        & .z-treecell {
          @include transition(all 0.3s ease);
          border-top: 0px;
          border-bottom: 1px solid lighten($border-color, 8%);
          background-color: transparent;
          line-height: 24px !important;
          min-height: 24px !important;

          & .z-treecell-content {
            background: transparent;
            line-height: 24px !important;
            min-height: 24px !important;
            //overflow: hidden;
            overflow-x: hidden;
            white-space: nowrap;
            //& .z-tree-icon {
            //  float: right;
            //  color: $font-color;
            //  padding-top: 5px;
            //}
            & .z-treecell-text {
              overflow-x: hidden;
              color: $font-color;
              white-space: nowrap;
            }
            & .z-tree-spacer {
              width: 14px;
            }
          }
        }

        &:hover {
          background-color: lighten($default,5%);
          .z-treecell{
            background-color: transparent;
            .z-treecell-content {
              @include transition(all 0.3s ease);
              background-color: rgba($default, .7) !important;
              & .z-tree-icon {
                @include transition(all 0.3s ease);
                color: $font-reversed-color;
              }
              & .z-treecell-text {
                @include transition(all 0.3s ease);
                color: $font-reversed-color;
              }
            }
          }
        }
        //  .z-treecell {
        //  background-color: transparent;
        //  > .z-treecell-content {
        //    @include transition(all 0.3s ease);
        //    background-color: rgba($default, .7) !important;
        //    & .z-tree-icon {
        //      @include transition(all 0.3s ease);
        //      color: $font-reversed-color;
        //    }
        //    & .z-treecell-text {
        //      @include transition(all 0.3s ease);
        //      color: $font-reversed-color;
        //    }
        //  }
        //}
      }
      & .z-treerow-selected {
        background-color: transparent;

        & .z-treecell {
          //background-color: $default !important;
          > .z-treecell-content {
            @include transition(all 0.3s ease);
            background-color: $default !important;
            & .z-tree-icon {
              @include transition(all 0.3s ease);
              color: $font-reversed-color;
            }
            & .z-treecell-text {
              @include transition(all 0.3s ease);
              color: $font-reversed-color;
            }
          }
        }
        &:hover > .z-treecell {
          //background-color: $default !important;
          > .z-treecell-content {
            @include transition(all 0.3s ease);
            background-color: $default !important;
            & .z-tree-icon {
              @include transition(all 0.3s ease);
              color: $font-reversed-color;
            }
            & .z-treecell-text {
              @include transition(all 0.3s ease);
              color: $font-reversed-color;
            }
          }
        }
      }
    }
  }

  & .sidebar-v {
    border-right: 1px solid $border-color;
    overflow-y: auto;
  }
}