@charset "utf-8";
//必须设置了这个才能编译有中文的注释
@import "variables";

.dialog-window {
  border: 1px solid $default;
  //border-radius: 0px;
  //padding: 0px;
  background:#d9d9d9;
  padding:8px;
  //@include border-radius(0px);
  //box-shadow: none;

  & .z-window-header {
    padding: 5px 15px;
    background-color: $default;
    color: #FFFFFF;
    & .z-window-close {
      border-radius: 50%;
      height: 26px;
      width: 26px;

      //font-weight: bold;
      background-color: transparent;
      color: rgba($font-reversed-color, .5);

      &:hover {
        @include transition(all 0.5s ease);
        border: 1px solid $background-color;
        background-color: $background-color;
        color: $font-color;
      }
      &:active {
        @include transition(all 0.5s ease);
        border: 1px solid darken($background-color, 5%);
        background-color: darken($background-color, 5%);
        color: $font-color;
      }
    }
    .z-window-icon {
      //margin: 2px 0px;
      //font-weight: bold;
      top: 25px;
      background: transparent;
      border: none;
      padding: 0;
    }
  }
}
.z-messagebox-window {
  border: 1px solid $default;
  //border-radius: 0px;
  //padding: 0px;
  background:#d9d9d9;
  padding:8px;
  & .z-window-header {
    padding: 5px 15px;
    background-color: $default;
    color: #FFFFFF;
    & .z-window-close {
      border-radius: 50%;
      height: 18px;
      width: 18px;
      font-weight: bold;
      color: rgba($font-reversed-color, .5);

      &:hover {
        @include transition(all 0.5s ease);
        border: 1px solid $background-color;
        background-color: $background-color;
        color: $font-color;
      }
      &:active {
        @include transition(all 0.5s ease);
        border: 1px solid darken($background-color, 5%);
        background-color: darken($background-color, 5%);
        color: $font-color;
      }
    }
    .z-window-icon {
      margin: 2px 0px;
      font-weight: bold;
      padding: 0;
    }
  }

}
// 对话框移动时的样式
.z-window-move-ghost {
  border: 1px solid $default;
  //@include border-radius(0px);
  //box-shadow: none;
  //padding: 0px;
  background:#d9d9d9;
  padding:8px;
  & .z-window-header {
    padding: 5px 15px;
    background-color: $default;
    color: #FFFFFF;
    & .z-window-close {
      border-radius: 50%;
      height: 18px;
      width: 18px;
      font-weight: bold;
      color: rgba($font-reversed-color, .5);

      &:hover {
        @include transition(all 0.5s ease);
        border: 1px solid $background-color;
        background-color: $background-color;
        color: $font-color;
      }
      &:active {
        @include transition(all 0.5s ease);
        border: 1px solid darken($background-color, 5%);
        background-color: darken($background-color, 5%);
        color: $font-color;
      }
    }
  }
}

.z-window-noborder>.z-window-content {
  border: 0;
  margin: 0 0;
}